body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-image: url("../img/so-white.png");
}

.contenedor-nav {
  top: 0%;
}
.contenedor-nav .navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.contenedor-nav .navbar .contenedor-menu-texto {
  display: flex;
  flex-direction: row-reverse;
}
.contenedor-nav .navbar .contenedor-menu-texto .texto-navegacion {
  margin-top: 2px;
  margin-left: 15px;
  color: white;
  font-size: 20px;
}
.contenedor-nav .navbar .contenedor-menu-texto .menu-hamburguesa {
  height: 30px;
  width: 35px;
}
.contenedor-nav .navbar .contenedor-menu-texto .menu-hamburguesa .los-tres-span {
  background-color: white;
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 7px;
  transform-origin: 0px 100%;
  transition: all 300ms;
}
.contenedor-nav .navbar .contenedor-menu-texto .menu-hamburguesa .js-span-1 {
  transform: rotate(45deg) translate(-2px, 1px);
}
.contenedor-nav .navbar .contenedor-menu-texto .menu-hamburguesa .js-span-2 {
  opacity: 0;
}
.contenedor-nav .navbar .contenedor-menu-texto .menu-hamburguesa .js-span-3 {
  transform: rotate(-45deg) translate(-4px, 2px);
}
.contenedor-nav .navbar .contenedor-boton-carrito .boton-carrito {
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px rgba(255, 0, 0, 0);
}
.contenedor-nav .navbar .contenedor-boton-carrito .boton-carrito .img-carrito {
  height: auto;
  width: 100px;
  position:fixed;
  mix-blend-mode: multiply;
}

.contenedor-portada {
  background-image: url("https://play-lh.googleusercontent.com/vBQEUKhetnbbHC3_RxYZyM8-qKK7y-buAW-49HAj-zfU2jWD-UDvYvfk9CGwRy25dw");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 670px;
  z-index: -2;
  margin-top: -125px;
}
.contenedor-portada .contenedor-titulo-portada {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.contenedor-portada .contenedor-titulo-portada .titulo-portada {
  color: red;
}

.contenedor-articulos {
  margin-top: 50px;
}
.contenedor-articulos .contenedor-titulo-articulos-imagen {
  margin: auto;
  width: 90%;
}
.contenedor-articulos .contenedor-titulo-articulos-imagen .contenedor-imagenes-articulos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contenedor-articulos .contenedor-titulo-articulos-imagen .contenedor-imagenes-articulos .contenedor-articulos {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contenedor-articulos .contenedor-titulo-articulos-imagen .contenedor-imagenes-articulos .contenedor-articulos .articulos {
  height: 250px;
}

